<table>
    <thead>
    <tr>

        <th>Id</th>
        <th>Nom</th>
        <th>Prenom</th>
        <th>login</th>
        <th>password</th>
        <th>Email</th>
        <th>Telephone</th>
        <th>adresse</th>
        <th>image</th>


    </tr>
    </thead>
    <tbody>
    {% for voyage in voyages %}
        <tr>
            <td>{{ voyage.id }}</td>
            {% if voyage.image|length > 0 %}
                <td><img src="{{ asset('uploads/'~ voyage.image ) }}" width="200" height="150"></td>
            {% else %}
                <td><img src="{{ asset('uploads/'~ "Not found" ) }}" width="350" height="150"></td>
            {% endif %}
            <td>{{ voyage.Destination }}</td>
            <td>{{ voyage.NomVoyage }}</td>
            <td>{{ voyage.DureeVoyage }}</td>
            <td>{{ voyage.PrixVoyage }} $</td>
            <td>{{ voyage.date ? voyage.date|date('Y-m-d') : '' }}</td>
            <td>{{ voyage.valabilite }}</td>

        </tr>
    {% else %}
        <tr>
            <td colspan="8">no records found</td>
        </tr>
    {% endfor %}

    </tbody>
</table>