
<h1 class="align-center">Bienvenue dans votre application Travel me </h1>

<p>Voila la liste de tout les Reservation des Voyages</p>

<table class="table" border="5">
    <tr>
        <th>Id</th>
        <th>Voyage</th>
        <th>Date_Reservation</th>
        <th>Travel_Class</th>
        <th>Age</th>
        <th>actions</th>
    </tr>
    {% for reservation_voyage in reservation_voyages %}
        <tbody>
        <tr>
            <td>{{ reservation_voyage.id }}</td>
            {% if reservation_voyage.voyage.image|length > 0 %}
                <td><img src="{{ asset('uploads/'~ reservation_voyage.voyage.image ) }}" width="250" height="150"></td>
            {% else %}
                <td><img src="{{ asset('uploads/'~ "Not found.jpg" ) }}" width="250" height="150"></td>
            {% endif %}
            <td>{{ reservation_voyage.DateReservation ? reservation_voyage.DateReservation|date('Y-m-d') : '' }}</td>
            <td>{{ reservation_voyage.TravelClass }}</td>
            <td>{{ reservation_voyage.Age }}</td>
        </tr>
        </tbody>
    {% else %}
        <tr>
            <td colspan="5">no records found</td>
        </tr>
    {% endfor %}
    </tbody>

</table>