{% extends 'Front/front.html.twig' %}

{% block title %}ReservationRestaurant{% endblock %}

{% block body %}
<div id="main">
    <!-- Post -->
    <section class="post">
        <header class="major">
            <fieldset>
                <div class="colums">
                    <script type="text/javascript">
                        function imprimer_page(){
                            window.print();
                        }
                    </script>
                    <form>
                        <input id="impression" class="js-programmatic-set-val btn btn-outline-primary mr-1 mb-1s" name="impression" type="button" onclick="imprimer_page()" value="Print this page" />
                    </form>
    <h1>ReservationRestaurant</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ reservation_restaurant.id }}</td>
            </tr>
            <tr>
                <th>Restaurant</th>
                {% if reservation_restaurant.Restaurant.Image|length > 0 %}
                    <td><img src="{{ asset('uploads/'~ reservation_restaurant.Restaurant.Image ) }}" width="450" height="250"></td>
                {% else %}
                    <td><img src="{{ asset('uploads/'~ "Not found.jpg" ) }}" width="250" height="150"></td>
                {% endif %}
            </tr>
            <tr>
                <th>Client </th>
                <td>{{ reservation_restaurant.Client.UserName }}</td>
            </tr>
            <tr>
                <th>Date_Reservation</th>
                <td>{{ reservation_restaurant.DateReservation ? reservation_restaurant.DateReservation|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Nbr_Personne</th>
                <td>{{ reservation_restaurant.NbrPersonne }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('reservation_restaurant_index') }}">back to list</a>

    <a href="{{ path('reservation_restaurant_edit', {'id': reservation_restaurant.id}) }}">edit</a>

    {{ include('reservation_restaurant/_delete_form.html.twig') }}
    </section>
</div>
{% endblock %}
