{% extends 'base.html.twig' %}

{% block title %}ReservationVoyage index{% endblock %}

{% block body %}
    <h1>ReservationVoyage index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date_Reservation</th>
                <th>Travel_Class</th>
                <th>Age</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reservation_voyage in reservation_voyages %}
            <tr>
                <td>{{ reservation_voyage.id }}</td>
                <td>{{ reservation_voyage.IDClient.Nom }}</td>
                <td>{{ reservation_voyage.IDVoyage.NomVoyage }}</td>
                <td>{{ reservation_voyage.DateReservation ? reservation_voyage.DateReservation|date('Y-m-d') : '' }}</td>
                <td>{{ reservation_voyage.TravelClass }}</td>
                <td>{{ reservation_voyage.Age }}</td>
                <td>
                    <a href="{{ path('reservation_voyage_show', {'id': reservation_voyage.id}) }}">show</a>
                    <a href="{{ path('reservation_voyage_edit', {'id': reservation_voyage.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('reservation_voyage_new') }}">Create new</a>
{% endblock %}
