{% extends 'base.html.twig' %}

{% block title %}ReservationVoyage{% endblock %}

{% block body %}
    <h1>ReservationVoyage</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ reservation_voyage.id }}</td>
            </tr>
            <tr>
                <th>Date_Reservation</th>
                <td>{{ reservation_voyage.DateReservation ? reservation_voyage.DateReservation|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Travel_Class</th>
                <td>{{ reservation_voyage.TravelClass }}</td>
            </tr>
            <tr>
                <th>Age</th>
                <td>{{ reservation_voyage.Age }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('reservation_voyage_index') }}">back to list</a>

    <a href="{{ path('reservation_voyage_edit', {'id': reservation_voyage.id}) }}">edit</a>

    {{ include('reservation_voyage/_delete_form.html.twig') }}
{% endblock %}
