<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}Reserver_Voyage{% endblock%}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="{{ asset('Front/img/travel.ico')}}">
    {% block stylesheets %}

    <!-- LINEARICONS -->
    <link rel="stylesheet" href="{{asset('Formulaire_Resrvation_Voyage/fonts/linearicons/style.css')}}">

    <!-- MATERIAL DESIGN ICONIC FONT -->
    <link rel="stylesheet" href="{{asset('Formulaire_Resrvation_Voyage/fonts/material-design-iconic-font/css/material-design-iconic-font.min.css')}}">

    <!-- DATE-PICKER -->
    <link rel="stylesheet" href="{{asset('Formulaire_Resrvation_Voyage/vendor/date-picker/css/datepicker.min.css')}}">

    <!-- STYLE CSS -->
    <link rel="stylesheet" href="{{asset('Formulaire_Resrvation_Voyage/css/style.css')}}">

    {% endblock %}

    {% block body %}

    {% endblock %}

</head>
</html>