{% extends 'Front/front.html.twig' %}

{% block body %}
<div id="main">
           <!-- Post -->
	 <section class="post">
		<header class="major">
        <fieldset>
            <div class="colums">
    <h1>Client</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>CIN</th>
                <td>{{ client.CIN }}</td>
            </tr>
            <tr>
                <th>Image</th>
                {% if client.image|length > 0 %}
                    <td><img src="{{ asset('uploads/'~ client.image ) }}" width="450" height="250"></td>
                {% else %}
                    <td><img src="{{ asset('uploads/'~ "Not found.jpg" ) }}" width="250" height="150"></td>
                {% endif %}
            </tr>
            <tr>
                <th>UserName</th>
                <td>{{ client.UserName }}</td>
            </tr>
            <tr>
                <th>Numero</th>
                <td>{{ client.Numero }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ client.Email }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ client.Adresse }}</td>
            </tr>
        </tbody>
    </table>

                <a href="{{ path('client_index') }}"><button>back to list</button></a>

                 {{ include('security/_delete_form.html.twig') }}

                			
    </section> 
</div>

    
            
{% endblock %}