{% extends 'Front/front.html.twig' %}

{% block title %}Reclamation index{% endblock %}

{% block body %}

<div id="main">
    <!-- Post -->
    <section class="post">
        <header class="major">
            <span class="date">Reclamation index</span>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Objet</th>
                <th>Type_De_Reclamation</th>
                <th>Description_Reclamation</th>
                <th>Date</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reclamation in reclamations %}
            <tr>
                <td>{{ reclamation.id }}</td>
                <td>{{ reclamation.Objet }}</td>
                <td>{{ reclamation.TypeDeReclamation }}</td>
                <td>{{ reclamation.DescriptionReclamation }}</td>
                <td>{{ reclamation.Date ? reclamation.Date|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('reclamation_show', {'id': reclamation.id}) }}">show</a>
                    <a href="{{ path('reclamation_edit', {'id': reclamation.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('reclamation_new') }}">Create new</a>
{% endblock %}
