{% extends 'Front/front.html.twig' %}

{% block title %}New Reclamation{% endblock %}

{% block body %}

    <div id="main">
        <!-- Post -->
        <section class="post">
            <header class="major">
                <span class="date">
    <h1>Create new Reclamation</h1>
</span>
            </header>

            <div class="section-content">
                {{ form_start(form , {'attr': {'class':'form-horizontal','novalidate':'novalidate'}} ) }}
                <div class="col-md-12">
                    <fieldset>
                        {{ form_row(form.Client, {'label':'Votre CIN' ,'attr':{'placeholder': 'CIN...'}}) }}
                    </fieldset>
                </div>

                <div class="col-md-12">
                    <fieldset>
                        {{ form_row(form.Objet, {'attr':{'placeholder': 'Objet'}}) }}
                    </fieldset>
                </div>

                <div class="col-md-12">
                    <fieldset>
                        {{ form_row(form.Type_De_Reclamation, {'attr':{'placeholder': 'Type_De_Reclamation...'}}) }}
                    </fieldset>
                </div>

                <div class="col-md-12">
                    <fieldset>
                        {{ form_row(form.Description_Reclamation, {'attr':{'placeholder': 'Description_Reclamation...'}}) }}
                    </fieldset>
                </div>

                <div class="col-md-12">
                    <fieldset>
                        {{ form_row(form.Date, {'attr':{'placeholder': 'Date...'}}) }}
                    </fieldset>
                </div>

                <div class="col-md-12">
                    <fieldset>
                        <button type= "submit" class="btn btn-success"> Reclamer ! </button>
                    </fieldset>
                </div>

                <div class="col-md-12">
                    <fieldset>
                        <a href="{{ path('reclamation_index') }}">back to list</a>
                    </fieldset>
                </div>

                {{ form_end(form) }}
            </div>
        </section>
    </div>
{% endblock %}

