<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %} Star Admin2 {% endblock%}</title>
    <!-- plugins:css -->
    <!-- Favicon -->
    <link href="{{asset('Front/img/Travel.ico')}} rel="icon">
    {% block stylesheets %}
    <link rel="stylesheet" href="{{asset('Back/vendors/feather/feather.css')}}">
    <link rel="stylesheet" href="{{asset('Back/vendors/mdi/css/materialdesignicons.min.css')}}">
    <link rel="stylesheet" href="{{asset('Back/vendors/ti-icons/css/themify-icons.css')}} ">
    <link rel="stylesheet" href="{{asset('Back/vendors/typicons/typicons.css')}}">
    <link rel="stylesheet" href="{{asset('Back/vendors/simple-line-icons/css/simple-line-icons.css')}}">
    <link rel="stylesheet" href="{{asset('Back/vendors/css/vendor.bundle.base.css')}}">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="{{asset('Back/vendors/datatables.net-bs4/dataTables.bootstrap4.css')}}">
    <link rel="stylesheet" href="{{asset('Back/js/select.dataTables.min.css')}}">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="{{asset('Back/css/vertical-layout-light/style.css')}}">
    <!-- endinject -->

    {% endblock %}

    {% block body %}

    {% endblock %}
</head>
</html>
